<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Slider_gyro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A3E67B41BF796FC00E450A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A3E67CD1BF796FC00E450A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A3E67D81BF796FC00E450A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
